<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Food types</a></li>
  <li><%= link_to 'Add new', new_food_type_path, class: 'btn btn-mini btn-primary' %></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">
      <div class="grid-body no-border">
        <table class="table table-striped list-data-table">
          <thead>
          <tr>
            <th>Food type</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @food_types.each do |food_type| %>
              <tr>
                <td><%= food_type.name %></td>
                <td><%= food_type.is_deleted? ? 'deleted' : 'active' %></td>
                <td>
                  <%= link_to 'edit', edit_food_type_path(food_type), class: 'btn btn-mini btn-primary' %>
                  <% if food_type.is_deleted %>
                      <%= link_to 'undo', food_type, method: :delete, class: 'btn btn-mini btn-warning', data: { confirm: 'Are you sure?' } %>
                  <% else %>
                      <%= link_to 'delete', food_type, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
