<%= simple_form_for(@branch) do |f| %>

    <% if @branch.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@branch.errors.count, "error") %> prohibited this task from being saved:</h2>
          <ul>
            <% @branch.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-text_fields">
      <div class="panel panel-default">
        <div class="panel-heading">
          Branch Info
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 form-group">
              <%= f.label 'Company' %>
              <%= f.select :company_id, options_for_select(@companies.collect { |p| [p[:company_name], p[:id]] }, selected: @branch.company_id), { include_blank: 'Select company' }, class: 'form-control dropdown_easy_selection' %>
            </div>
            <div class="col-md-3">
              <%= f.label 'Branch name' %>
              <%= f.text_field :branch_name, class: 'form-control', placeholder: 'branch name' %>
            </div>
            <div class="col-md-3 form-group">
              <%= f.label 'Status' %>
              <%= f.select :contract_type, options_for_select(AppConstants::CONTRACT_STATUS), class: 'form-control' %>
            </div>

          </div>
          <div class="row">
            <div class="col-md-3 form-group">
              <%= f.label 'Status' %>
              <%= f.select :branch_status, options_for_select(@statuses), class: 'form-control' %>
            </div>
            <div class="col-md-3 form-group">
              <%= f.label 'Sale representative' %>
              <%= f.select :representative, options_for_select(@sale_representatives.collect { |p| [p[:name] || p[:email], p[:id]] }, selected: @branch.try(:representative)), { include_blank: 'Select saler' }, class: 'form-control dropdown_easy_selection' %>
            </div>
            <div class="col-md-3 form-group">
              <%= f.label '# of visits' %>
              <%= f.number_field :visits_per_month, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Contact Info
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 form-group">
              <%= f.label 'Contact name' %>
              <%= f.text_field :contact_name, class: 'form-control', placeholder: 'cont. name' %>
            </div>

            <div class="col-md-3">
              <%= f.label 'Contact email' %>
              <%= f.text_field :contact_email, class: 'form-control', placeholder: 'cont. email' %>
            </div>

            <div class="col-md-3">
              <%= f.label 'Contact phone' %>
              <%= f.number_field :contact_phone, class: 'form-control', placeholder: 'cont. phone' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 form-group">
              <%= f.label 'Contact name' %>
              <%= f.text_field :contact_name1, class: 'form-control', placeholder: 'cont. name' %>
            </div>

            <div class="col-md-3">
              <%= f.label 'Contact email' %>
              <%= f.text_field :contact_email1, class: 'form-control', placeholder: 'cont. email' %>
            </div>

            <div class="col-md-3">
              <%= f.label 'Contact phone' %>
              <%= f.number_field :contact_phone1, class: 'form-control', placeholder: 'cont. phone' %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Misc Info
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <%= f.label 'Type of establishment' %>
              <%= f.select :food_type_id, options_for_select(@food_types.collect { |p| [p[:name], p[:id]] }, selected: @branch.try(:food_type_id)), { include_blank: 'Select Food type' }, class: 'form-control dropdown_easy_selection' %>
            </div>

            <div class="col-md-3">
              <%= f.label 'Monthly oil used (kg)' %>
              <%= f.text_field :monthly_oil_used, class: 'form-control', placeholder: 'oil used (kg)' %>
            </div>

            <div class="col-md-3">
              <%= f.label 'Rate/kg' %>
              <%= f.number_field :rate_per_kg, class: 'form-control', placeholder: 'amount/kg' %>
            </div>

            <div class="col-md-3">
              <%= f.label 'Storage type' %>
              <%= f.select :storage_type_id, options_for_select(@storage_types.collect { |p| [p[:name], p[:id]] }, selected: @branch.try(:storage_type_id)), class: 'form-control' %>
            </div>
          </div>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Address Info
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <%= f.select :state_id, options_for_select(@states.collect { |p| [p[:name], p[:id]] }, selected: @branch.state_id), { include_blank: 'Select sate' }, class: 'form-control' %>
            </div>
            <div class="col-md-3">
              <%= f.select :city_id, options_for_select(@cities.collect { |p| [p[:name], p[:id], {parent_id: p.state_id}]}, selected: @branch.city_id), { include_blank: 'Select city' }, class: 'form-control' %>
            </div>
            <div class="col-md-3">
              <%= f.select :area_id, options_for_select(@areas.collect { |p| [p[:name], p[:id], {parent_id: p.city_id}] }, selected: @branch.area_id), { include_blank: 'Select area' }, class: 'form-control' %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :area_name, placeholder: 'Other Area' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
               <%= f.text_field :street, placeholder: 'street' %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :zip, placeholder: 'zip' %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Lat/Long
        </div>
        <div class="panel-body">
          <div class="col-md-3">
            <%= f.text_field :latitude, placeholder: 'latitude' %>
          </div>

          <div class="col-md-3">
            <%= f.text_field :longitude, placeholder: 'longitude' %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= link_to 'Back', branches_path, class: 'btn btn-mini btn-default' %>
      <%= f.button :submit, class: 'btn btn-mini btn-primary' %>
    </div>
<% end %>
