<%= simple_form_for(@branch) do |f| %>

    <%= f.error_notification %>

  <div class="form-text_fields">
    <div class="panel panel-default">
      <div class="panel-heading">
        Branch Info
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 form-group">
            <%= f.label 'Company' %>
            <%= f.select :company_id, options_for_select(Company.all.collect {|p| [ p[:company_name], p[:id] ] }), class: 'form-control' %>
          </div>
          <div class="col-md-3">
            <%= f.label 'Branch name' %>
            <%= f.text_field :branch_name, class: 'form-control', placeholder: 'branch name' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            <%= f.label 'Status' %>
            <%= f.select :branch_status, options_for_select(@statuses), class: 'form-control' %>
          </div>
          <div class="col-md-3 form-group">
            <%= f.label 'Sale representative' %>
            <%= f.select :representative, options_for_select(@sale_representatives.collect {|p| [ p[:name], p[:id] ] }), {include_blank: 'Select saler'}, class: 'form-control' %>
          </div>
          <div class="col-md-3 form-group">
            <%= f.label '# of visits' %>
            <%= f.number_field :visits_per_month, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Contact Info
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 form-group">
            <%= f.label 'Contact name' %>
            <%= f.text_field :contact_name, class: 'form-control', placeholder: 'cont. name' %>
          </div>

          <div class="col-md-3">
            <%= f.label 'Contact email' %>
            <%= f.text_field :contact_email, class: 'form-control', placeholder: 'cont. email' %>
          </div>

          <div class="col-md-3">
            <%= f.label 'Contact phone' %>
            <%= f.number_field :contact_phone, class: 'form-control', placeholder: 'cont. phone' %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Misc Info
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <%= f.label 'Type of establishment' %>
            <%= f.select :food_type_id, options_for_select(FoodType.all.collect {|p| [ p[:name], p[:id] ] }), class: 'form-control' %>
          </div>

          <div class="col-md-3">
            <%= f.label 'Monthly oil used (kg)' %>
            <%= f.text_field :monthly_oil_used, class: 'form-control', placeholder: 'oil used (kg)' %>
          </div>

          <div class="col-md-3">
            <%= f.label 'Rate/kg' %>
            <%= f.text_field :rate_per_kg, class: 'form-control', placeholder: 'amount/kg' %>
          </div>

          <div class="col-md-3">
            <%= f.label 'Storage type' %>
            <%= f.select :storage_type_id, options_for_select(StorageType.all.collect {|p| [ p[:name], p[:id] ] }), class: 'form-control' %>
          </div>
        </div>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Address Info
      </div>
      <div class="panel-body">

        <div class="col-md-3">
          <%= f.select :state_id, options_for_select(State.all.collect {|p| [ p[:name], p[:id] ] }, selected: @branch.state_id), {include_blank: 'Select sate'}, class: 'form-control' %>
        </div>

        <div class="col-md-3">
          <% if @branch.city_id.present? %>
              <%= f.select :city_id, options_for_select(@branch.state.cities.collect {|p| [ p[:name], p[:id] ] }, selected: @branch.city_id), {include_blank: 'Select city'}, class: 'form-control' %>
          <% else %>
              <select name="branch[city_id]" id="branch_city_id" class="hidden"></select>
          <% end %>
        </div>

        <div class="col-md-3">
          <% if @branch.area_id.present? %>
              <%= f.select :area_id, options_for_select(@branch.city.areas.collect {|p| [ p[:name], p[:id] ] }, selected: @branch.area_id), {include_blank: 'Select area'}, class: 'form-control' %>
          <% else %>
              <select name="branch[area_id]" id="branch_area_id" class="hidden"></select>
          <% end %>
        </div>

        <div class="col-md-3">
          <% if @branch.area_id.present? %>
              <%= f.text_field :street, placeholder: 'street' %>
          <% else %>
              <%= f.text_field :street, placeholder: 'street', class: 'hidden' %>
          <% end %>
        </div>

        <div class="col-md-3">
          <% if @branch.area_id.present? %>
              <%= f.text_field :zip, placeholder: 'zip' %>
          <% else %>
              <%= f.text_field :zip, placeholder: 'zip', class: 'hidden' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Lat/Long
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <%= f.text_field :latitude, placeholder: 'latitude' %>
        </div>

        <div class="col-md-3">
          <%= f.text_field :longitude, placeholder: 'longitude' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to 'Back', branches_path , class:'btn btn-mini btn-default'%>
    <%= f.button :submit, class:'btn btn-mini btn-primary' %>
  </div>
<% end %>