<br/>
<div class="panel panel-primary">
  <div class="panel-heading">
    Factory Assignments
  </div>
  <div class="panel-body">
    <%= form_for(FactoryCollection.new, url: factory_assignment_submit_assignments_path, :html=> {:multipart=>true,:class => 'form-horizontal', id: 'factory_assignment_completion_form'}) do |f| %>
        <div>
          <table class="table table-striped list-data-table">
            <thead>
            <th>Route</th>
            <th>Br. code/name</th>
            <th>Quantity</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <%= f.fields_for :route_branches, @route_branches do |form_route_branch| %>
                <tr class="factory_assignment_tr">
                  <td>
                    <%= form_route_branch.hidden_field :id %>
                    <%= "Route-#{form_route_branch.object.route.id}" %>
                  </td>
                  <td><%= "#{form_route_branch.object.branch.branch_code}/#{form_route_branch.object.branch.branch_name}" %></td>
                  <td><%= form_route_branch.object.quantity %></td>
                  <td>
                    <%= form_route_branch.check_box :is_factory, checked: form_route_branch.object.is_deleted, class: 'factory_branch_select' %>
                    <%= form_route_branch.file_field :factory_image, style: 'width:66%;', class: 'pull-right route_image', disabled: true %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <% if @route_branches.present? %>
            <div>
              <%= f.text_field :date, class: 'datepicker', placeholder: 'select date', value:  Date.today.strftime('%d/%m/%Y')  %>
              <%= f.number_field :quantity, placeholder: 'Tot. received' %>
              <%= f.submit 'submit', class: 'btn btn-primary', disabled: true, id: 'factory_collection_form_submit_button' %>
              <div id="error_explanation" class="hidden route_assignment_error_notification" style="margin-top:5px;">
                <span>Please choose at least one option<br/>Also make sure you select image against selected option</span>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      // factory assignment completion form
      $('#factory_assignment_completion_form').submit(function(event)
      {
          var status = true;
          $("tr.factory_assignment_tr").each(function() {
              $this = $(this);
              var branch_selection = $this.find(".factory_branch_select").is(":checked");
              var image            = $this.find(".route_image").val().length;
              if(branch_selection == false)
              {}
              else if(branch_selection == true && image > 0)
              {}
              else{
                  status = false;
                  return false;
              }
          });

          if(status == false)
          {
              $('.route_assignment_error_notification').removeClass('hidden') ;
              return false;
          }else{
              return true;
          }
      });

      $(".factory_branch_select").change(function() {
          if($(this).is(':checked')) {
              $(this).next().removeAttr('disabled')
          }else{
              $(this).next().val('');
              $(this).next().attr('disabled', true)
          }
      });

      $('#factory_collection_quantity').on("keyup", function(event) {
          if($(this).val().length > 0)
          {
              $('#factory_collection_form_submit_button').removeAttr('disabled');
          }else{
              $('#factory_collection_form_submit_button').attr('disabled', true);
          }
      });
  })
</script>
