<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Assignment completion</a></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">
      <div class="grid-body no-border">
        <div>
          <h3><%= "Route-#{@route.id}"%></h3>
        </div>

        <%= form_for(@route, :html=> {:multipart=>true,:class => 'form-horizontal', id: 'route_assignment_completion_form'}) do |f| %>
            <div>
              <table class="table table-striped">
                <thead>
                <th>Br. code</th>
                <th>Br. name</th>
                <th>Actions</th>
                <th></th>
                </thead>
                <tbody>
                  <%= f.fields_for :route_branches do |form_route_branch| %>
                      <% if form_route_branch.object.transfer_to.blank? %>
                        <tr class="route_assignment_tr">
                          <td><%= form_route_branch.object.branch.branch_code %></td>
                          <td><%= form_route_branch.object.branch.branch_name %></td>
                          <td>
                            <%= form_route_branch.text_field :quantity, placeholder: 'qnty (kg)', style: 'width:26%;', class: 'route_quantity' %>
                            <%= form_route_branch.select :transfer_to, options_for_select(@routes.collect {|p| [ "Route-#{p[:id].to_s}", p[:id] ] }, form_route_branch.object.transfer_to ), {:include_blank => 'Transfer to'}, {style: 'width:30%;', class: 'route_transfer_to'} %>
                            <%= form_route_branch.check_box :is_deleted, checked: form_route_branch.object.is_deleted, class: 'route_remove' %> remove
                            <%= form_route_branch.file_field :image, style: 'width:30%;', class: 'pull-right route_image' %>
                          </td>
                          <td></td>
                        </tr>
                      <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div>
              <%= f.submit 'submit', class: 'btn btn-mini btn-primary' %>
              <div id="error_explanation" class="hidden route_assignment_error_notification" style="margin-top:5px;">
                <span>Please choose at least one option against each location.<br/>Also make sure you select all images</span>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


