<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Assignment completion</a></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid-body no-border">
        <br/>
        <%= form_for(FactoryCollection.new, url: factory_assignment_submit_assignments_path, :html=> {:multipart=>true,:class => 'form-horizontal', id: 'factory_assignment_completion_form'}) do |f| %>
            <div>
              <table class="table table-striped list-data-table">
                <thead>
                <th>Voucher#</th>
                <th>Br. code/name</th>
                <th>Quantity</th>
                <th>Actions</th>
                </thead>
                <tbody>
                <%= f.fields_for :route_branches, @route_branches do |form_route_branch| %>
                    <tr class="factory_assignment_tr">
                      <td>
                        <%= form_route_branch.hidden_field :id %>
                        <%= "Route-#{form_route_branch.object.route.id}/#{form_route_branch.object.id}" %>
                      </td>
                      <td><%= "#{form_route_branch.object.branch.branch_code}/#{form_route_branch.object.branch.branch_name}" %></td>
                      <td><%= form_route_branch.object.quantity %></td>
                      <td>
                        <%= form_route_branch.check_box :is_factory, checked: form_route_branch.object.is_deleted, class: 'factory_branch_select', quantity: form_route_branch.object.quantity %>
                        <%= form_route_branch.file_field :factory_image, style: 'width:66%;', class: 'pull-right route_image', disabled: true %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <% if @route_branches.present? %>
                <div>
                  <%= f.text_field :date, class: 'datepicker', placeholder: 'select date', value:  Date.today.strftime('%d/%m/%Y')  %>
                  <%= text_field_tag :total_quantity, 0, disabled: true %>
                  <%= f.number_field :quantity, placeholder: 'Tot. received' %>
                  <%= f.submit 'submit', class: 'btn btn-primary', disabled: true, id: 'factory_collection_form_submit_button' %>
                  <div id="error_explanation" class="hidden route_assignment_error_notification" style="margin-top:5px;">
                    <span>Please choose at least one option<br/>Also make sure you select image against selected option</span>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
  </div>
</div>

