<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Active Assignments</a></li>
  <li><%= link_to 'New assignment', new_assignment_path, class:'btn btn-mini btn-primary' %></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">
      <div class="grid-body no-border">
        <table class="table table-striped list-data-table">
          <thead>
            <th>Assigned at</th>
            <th>Driver</th>
            <th>Helper</th>
            <th>Vehicle</th>
            <th>Route</th>
            <th>Extra</th>
            <th>Actions</th>
          </thead>

          <tbody>
          <% @assignments.each do |assignment| %>
              <tr>
                <td><%= assignment.assigned_at.to_date %></td>
                <td><%= assignment.driver.name %></td>
                <td><%= assignment.helper.name %></td>
                <td><%= assignment.vehicle.vehicle_number %></td>
                <td><%= 'Route-' + assignment.route_id.to_s %></td>
                <td>
                  <% if assignment.is_completed %>
                    <%= link_to 'completed', 'javascript:void(0)', class: 'muted' %> |
                  <% else %>
                    <%= link_to 'Add qnty', complete_assignment_assignment_path(assignment) %> |
                  <% end %>
                  <%= link_to 'pdf', pdf_assignment_assignment_path(assignment, {format: :pdf}) %>
                </td>
                <td>
                  <% if assignment.is_completed %>
                      <%= link_to '', assignment, class: 'fa fa-eye' %>
                  <% else %>
                     <%= link_to '', edit_assignment_path(assignment), class: 'fa fa-edit' %>
                     <%= link_to '', assignment, method: :delete, class: 'fa fa-trash', data: { confirm: 'Are you sure?' } %>
                  <% end %>

                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

