<% @branches.each_with_index do |branch, index| %>
  <% @vehicle = @assignment.vehicle
     @route   = @assignment.route
  %>
  <% if branch.id != @branches.last.id %>
    <div class="page-break"></div>
  <% end %>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td colspan="4" class="note">Weight Transfer Note</td>
        </tr>
        <tr>
          <td class="text_decoration" style="width:25%;"><%= branch.address %></td>
          <td colspan="2" class="note1">Bio Tech Energy Pvt Limited</td>
          <td class="text_decoration">UAN Number</td>
        </tr>
        <tr>
          <td class="text_decoration">Voucher #</td>
          <td style="width:20%" class="text_decoration"><%= "Route-#{@route.id}/#{@route_branches.find_by_branch_id(branch.id).id}" %></td>
          <td class="text_decoration"><%= "Date: #{Date.today.strftime('%d/%m/%Y')}"%></td>
          <td class="text_decoration"><%= "111-11-SAAF" %></td>
        </tr>

        <tr>
          <td class="text_decoration note" colspan="4">Contact Information</td>
        </tr>
        <tr>
          <td class="text_decoration">Name</td>
          <td style="width:20%" class="text_decoration"><%= branch.branch_name %></td>
          <td class="text_decoration">Contact Person Name</td>
          <td class="text_decoration"><%= branch.contact_name %></td>
        </tr>
        <tr>
          <td class="text_decoration">Address</td>
          <td style="width:20%" class="text_decoration"><%= branch.address %></td>
          <td class="text_decoration">Contact Number</td>
          <td class="text_decoration"><%= branch.contact_phone %></td>
        </tr>

        <tr>
          <td colspan="4" class="note">Consignment details</td>
        </tr>
        <tr>
          <td class="text_decoration">Measurement components</td>
          <td class="text_decoration">Weight</td>
          <td class="text_decoration" colspan="2">Other details</td>
        </tr>
        <tr>
          <td class="text_decoration">Total</td>
          <td></td>
          <td class="text_decoration">Customer ID</td>
          <td class="text_decoration"><%= "#{branch.try(:company).try(:company_code)}/#{branch.branch_code}" %></td>
        </tr>

        <tr>
          <td class="text_decoration">Container</td>
          <td></td>
          <td class="text_decoration">Vehicle Number</td>
          <td class="text_decoration"><%= @vehicle.vehicle_number %></td>
        </tr>
        <tr>
          <td class="text_decoration">Net Oil</td>
          <td></td>
          <td class="text_decoration">Inventory Check</td>
          <td></td>
        </tr>
        <tr>
          <td class="text_decoration" colspan="2">Acknowledgment By</td>
          <td class="text_decoration" colspan="2">Received By</td>
        </tr>

        <tr>
          <td class="text_decoration">Name</td>
          <td></td>
          <td class="text_decoration">Name</td>
          <td></td>
        </tr>
        <tr>
          <td class="text_decoration">Signature</td>
          <td></td>
          <td class="text_decoration">Signature</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4" class="note" >Factory Receipt</td>
        </tr>

        <tr>
          <td class="text_decoration">Measurement components</td>
          <td class="text_decoration">Weight</td>
          <td class="text_decoration" colspan="2">Other details</td>
        </tr>
        <tr>
          <td class="text_decoration">Total</td>
          <td></td>
          <td class="text_decoration">Customer ID</td>
          <td class="text_decoration"><%= "#{branch.try(:company).try(:company_code)}/#{branch.branch_code}" %></td>
        </tr>
        <tr>
          <td class="text_decoration">Container</td>
          <td></td>
          <td class="text_decoration">Vehicle Number</td>
          <td class="text_decoration"><%= @vehicle.vehicle_number %></td>
        </tr>

        <tr>
          <td class="text_decoration">Net Oil</td>
          <td></td>
          <td class="text_decoration">Inventory Check</td>
          <td></td>
        </tr>
        <tr>
          <td class="text_decoration" colspan="2">Acknowledgment By</td>
          <td class="text_decoration" colspan="2">Received By</td>
        </tr>
        <tr>
          <td class="text_decoration">Name</td>
          <td></td>
          <td class="text_decoration">Name</td>
          <td></td>
        </tr>

        <tr>
          <td style="border-bottom:1pt solid black;" class="text_decoration">Signature</td>
          <td style="border-bottom:1pt solid black;"></td>
          <td style="border-bottom:1pt solid black;" class="text_decoration">Signature</td>
          <td style="border-bottom:1pt solid black;"></td>
        </tr>
        <tr>
          <td colspan="4" style="border: 1px solid;"><%= wicked_pdf_image_tag('bte.jpg', style: 'width:40px;') %></td>
        </tr>
        <tr>
          <td colspan="4" class="note">Weight Transfer Note - Customer Copy</td>
        </tr>

        <tr>
          <td class="text_decoration"><%= "Address" %></td>
          <td colspan="2" class="note1">Bio Tech Energy Pvt Limited</td>
          <td class="text_decoration">UAN Number</td>
        </tr>
        <tr>
          <td class="text_decoration">Voucher #</td>
          <td style="width:20%" class="text_decoration"><%= "Route-#{@route.id}/#{@route_branches.find_by_branch_id(branch.id).id}" %></td>
          <td class="text_decoration"><%= "Date: #{Date.today.strftime('%d/%m/%Y')}"%></td>
          <td class="text_decoration"><%= "111-11-SAAF" %></td>
        </tr>
        <tr>
          <td colspan="4" class="note">Consignment details</td>
        </tr>

        <tr>
          <td class="text_decoration">Measurement components</td>
          <td class="text_decoration">Weight</td>
          <td class="text_decoration" colspan="2">Other details</td>
        </tr>
        <tr>
          <td class="text_decoration">Total</td>
          <td></td>
          <td class="text_decoration">Customer ID</td>
          <td class="text_decoration"><%= "#{branch.try(:company).try(:company_code)}/#{branch.branch_code}" %></td>
        </tr>
        <tr>
          <td class="text_decoration">Container</td>
          <td></td>
          <td class="text_decoration">Vehicle Number</td>
          <td class="text_decoration"><%= @vehicle.vehicle_number %></td>
        </tr>

        <tr>
          <td class="text_decoration">Net Oil</td>
          <td></td>
          <td class="text_decoration">Inventory Check</td>
          <td></td>
        </tr>
        <tr>
          <td class="text_decoration" colspan="2">Acknowledgment By</td>
          <td class="text_decoration" colspan="2">Received By</td>
        </tr>
        <tr>
          <td class="text_decoration">Name</td>
          <td></td>
          <td class="text_decoration">Name</td>
          <td></td>
        </tr>

        <tr>
          <td class="text_decoration">Signature</td>
          <td></td>
          <td class="text_decoration">Signature</td>
          <td></td>
        </tr>
      </tbody>
    </table>
<% end %>


<!--Summary page-->
<div class="page-break"></div>
<table class="table table-bordered">
  <thead>
    <tr>
      <td colspan="7" class="note"><strong>WASTE TRANSFER NOTES - SUMMARY</strong></td>
    </tr>
    <tr>
      <th>Sr#</th>
      <th>Area</th>
      <th>BranchName</th>
      <th>Code(C/B)</th>
      <th>ContactName</th>
      <th>Contact#</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @branches&.each_with_index do |branch, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= branch.area.name %></td>
        <td><%= branch.branch_name %></td>
        <td><%= "#{branch.try(:company).try(:company_code) || nil}/#{branch.branch_code}" %></td>
        <td><%= branch.contact_name %></td>
        <td><%= branch.contact_phone %></td>
        <td><%= branch.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<style type="text/css">
  .page-break {
    display:block;
    clear:both;
    page-break-after:always;
  }
  .note {
    text-align: center;
    font-size: 10px;
    font-weight: 900;
  }

  .note1 {
    text-align: center;
    font-size: 10px;
    font-weight: 900;
  }

  .text_decoration {
    text-align: center;
    font-size: 9px;
  }
</style>
