<table class="table">
  <thead>
    <th>#</th>
    <th>Area</th>
    <th>Br.code</th>
    <th>Br. name</th>
    <th>Address</th>
    <th>Qnty</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @route_branches.each_with_index do |route_branch, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= route_branch.branch.area.name %></td>
          <td><%= route_branch.branch.branch_code %></td>
          <td><%= route_branch.branch.branch_name %></td>
          <td><%= route_branch.branch.address  %></td>
          <td><%= 0  %></td>
          <td></td>
        </tr>
    <% end %>
  </tbody>
</table>
