<% if @scheduled_branches.present? %>
  <%= link_to 'Download pdf', schedules_schedule_branches_path({vehicle_id: @vehicle, date: @date, format: :pdf}) , class: 'btn btn-success pull-right'%>
  <table class="table table-striped" id="scheduled_table">
    <thead>
    <th>#</th>
    <th>Area</th>
    <th>Br.code</th>
    <th>Br. name</th>
    <th>Address</th>
    <th>Qnty</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% @scheduled_branches.each_with_index do |sche_branch, index| %>
        <% qnty = @collections.where(branch_id: sche_branch.branch_id).try(:first).try(:quantity) || 0 %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= sche_branch.branch.area.name %></td>
          <td><%= sche_branch.branch.branch_code %></td>
          <td><%= sche_branch.branch.branch_name %></td>
          <td><%= sche_branch.branch.address  %></td>
          <td id="qnty"><%= qnty  %></td>
          <td><i class="fa fa-plus-circle" style="margin-right:10px;"></i></td>
        </tr>
        <tr class="hidden"><%= render "update_quantity", schedule_branch_row: sche_branch, qnty: qnty %></tr>
    <% end %>
    </tbody>
  </table>
<% else %>
    <h3>Oops! No Schedule found.</h3>
<% end %>


<script type="text/javascript">
    $(document).ready(function() {
      $("#collected_at").live("click", function (){
            $(this).datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
      });
      $('#scheduled_table tbody td i').live('click', function () {
          var row = $(this).closest('tr').next('tr');
          if ($(this).hasClass('fa fa-plus-circle'))
          {
              $(this).removeClass("fa fa-plus-circle");
              $(this).addClass("fa fa-minus-circle");
              var tr = row.removeClass('hidden');
              $('.abc').trigger('click');
          }else{
              $(this).removeClass("fa fa-minus-circle");
              $(this).addClass("fa fa-plus-circle");
              var tr = row.addClass('hidden');
              $('.notification_message').text('');
          }
      });
      $(".submit_quantity").click(function(){
            $this = $(this);
            var sch_br_id = $($($this)[0]).parent().parent().find('#schedule_branch_id').val();
            var date      = $($($this)[0]).parent().parent().find('#collected_at').val();
            var qnty      = $($($this)[0]).parent().parent().find('#quantity').val();
            if (date > 0 || qnty > 0)
            {
                $.ajax({
                    url: '/collections',
                    dataType:'JSON',
                    type: 'post',
                    data:{
                        schedule_branch_id: sch_br_id,
                        date: date,
                        qnty: qnty
                    },
                    success:function(data){
                        if(data.status == true)
                        {
                            $($($this)[0]).next('.notification_message').text(data.message);
                            $($($this)[0]).next('.notification_message').css("color", "white");
                        }
                    },
                    error:function(){
                    }
                });
            }

        });
    });
</script>