<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Add User</a></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid-body no-border">
        <div class="">
          <%= form_for(User.new, url: add_user_users_path, method: 'post', :html => {:class => 'form-horizontal' }) do |f| %>

              <%#= devise_error_messages! %>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>

              <% if @current_user_role == AppConstants::SUPER_ADMIN || @current_user_role == AppConstants::PFA %>
                  <div class="form-group">
                    <%= f.label 'Enter Site Name' %>
                    <%= f.select :site_id, options_for_select(Site.all.collect {|p| [ p[:name], p[:id] ] }), class: 'form-control', style: 'width: 30%;', class: 'form-control' %>
                  </div>
              <% else %>
                  <div class="form-group">
                    <%= f.label 'Role' %>
                    <%= f.select :role_id, options_for_select(Role.where(name: AppConstants::ROLES).collect {|p| [ p[:name], p[:id] ] }, 3), class: 'form-control', style: 'width: 30%;', class: 'form-control' %>
                  </div>
              <% end %>

              <%= f.submit 'Sign up', :class => 'btn btn-sm btn-primary right' %>
          <% end %>
        </div>
      </div>
  </div>
</div>
