<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Areas</a></li>
  <li><%= link_to 'New state', new_state_path, class:'btn btn-mini btn-primary' %></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">
      <div class="grid-body no-border">
        <table class="table table-striped list-data-table">
          <thead>
          <tr>
            <th>State</th>
            <th>#of cities</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @states.each do |state| %>
              <tr>
                <td><%= state.name %></td>
                <td><%= link_to state.cities.count, get_state_cities_state_cities_path(state)%></td>
                <td>
                  <%= link_to 'edit', edit_state_path(state), class: 'btn btn-mini btn-primary' %>
                  <% if state.is_deleted %>
                      <%= link_to 'undo', state, method: :delete, class: 'btn btn-mini btn-warning', data: { confirm: 'Are you sure?' } %>
                  <% else %>
                      <%= link_to 'delete', state, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

