<p id="notice"><%= notice %></p>

<h1>History Clients</h1>

<table>
  <thead>
    <tr>
      <th>Email history</th>
      <th>Client</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @history_clients.each do |history_client| %>
      <tr>
        <td><%= history_client.email_history_id %></td>
        <td><%= history_client.client_id %></td>
        <td><%= history_client.count %></td>
        <td><%= link_to 'Show', history_client %></td>
        <td><%= link_to 'Edit', edit_history_client_path(history_client) %></td>
        <td><%= link_to 'Destroy', history_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History Client', new_history_client_path %>
