<p id="notice"><%= notice %></p>

<p>
  <strong>Email history:</strong>
  <%= @history_client.email_history_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @history_client.client_id %>
</p>

<p>
  <strong>Count:</strong>
  <%= @history_client.count %>
</p>

<%= link_to 'Edit', edit_history_client_path(@history_client) %> |
<%= link_to 'Back', history_clients_path %>
