<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Areas</a></li>
  <%= link_to 'New Area', new_area_path, class:'btn btn-mini btn-primary pull-right' %>
</ul>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="grid-body no-border">
        <table class="table table-striped list-data-table">
          <thead>
          <tr>
            <th>Area name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
            <% @areas.each do |area| %>
                <tr>
                  <td><%= area.name %></td>
                  <td><%= area.is_deleted? ? 'deleted' : 'active' %></td>
                  <td>
                    <%= link_to 'edit', edit_area_path(area), class: 'btn btn-mini btn-primary' %>
                    <% if area.is_deleted %>
                        <%= link_to 'undo', area, method: :delete, class: 'btn btn-mini btn-warning', data: { confirm: 'Are you sure?' } %>
                    <% else %>
                        <%= link_to 'delete', area, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>


