<div class="container">
  <div class="row login-container column-seperation">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag("BTE.png", :alt => "Logo") %>
      <h2 style="text-align: center;font-weight: 900;font-family: cursive;">Bio Tech Energy</h2>
      <!--<p style="text-align: center"><b>SaafPunjab</b>, <b>BioTech</b>, <b>AppsGenii</b></p>-->
      <br>
    </div>
    <div class="col-md-5 "> <br>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), id: 'login-form', class: 'login-form', :html => { :role => 'form'}) do |f| %>
        <!--<form id="login-form" class="login-form" action="/user_sessions" method="post">-->
        <%= devise_error_messages! %>
        <div class="row">
          <div class="form-group col-md-10">
            <label class="form-label">Email</label>
            <div class="controls">
              <div class="input-with-icon  right">
                <i class=""></i>
                <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-10">
            <label class="form-label">Password</label>
            <span class="help"></span>
            <div class="controls">
              <div class="input-with-icon  right">
                <i class=""></i>
                <%= f.password_field :password, class: 'form-control', id: "txtpassword" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <!--<button class="btn btn-primary btn-cons pull-right" type="submit">Login</button>-->
            <%= f.submit 'Sign in', :class => 'btn btn-primary btn-cons pull-right' %>
          </div>
        </div>
        <!--</form>-->
      <% end %>
    </div>
  </div>
</div>