<hr style="color: dimgrey !important; border: solid 1px dimgrey !important;">
<p>
  <strong>Supplier Name:</strong>
  <span style="margin-left: 3%"><%= @branch.branch_name %></span>
  <span class="pull-right"><strong style="margin-right: 3%;">Billing Month:</strong><%= @date.strftime('%m/%Y') %></span>
  <br/>
  <strong>Collection Month:</strong>
  <span style="margin-left: 1%"><%= @date.strftime('%B-%Y') %></span>
</p>

<table style="width:100%" class="table table-bordered">
  <thead>
    <tr>
      <th>Collection date</th>
      <th>Code (C/B)</th>
      <th>Branch Location</th>
      <th>Voucher#</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% total_weight = 0 %>
    <% @route_branches.each do |route_branch| %>
      <tr>
        <td><%= route_branch.collected_date.strftime('%d/%m/%Y') %></td>
        <td><%= "#{@branch.company.company_code}/#{@branch.branch_code }" %></td>
        <td><%= @branch.address %></td>
        <td><%= "Route-#{route_branch.route_id}/#{route_branch.id} " %></td>
        <td>
          <%= route_branch.quantity %>
          <% total_weight = total_weight + route_branch.quantity %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><strong>Total Weight</strong></td>
      <td></td>
      <td style="text-align: center"><strong><%= total_weight %></strong></td>
    </tr>
  </tbody>
</table>

<br/>
<br/>

<div style="margin-left: 70%">
  <table class="table">
    <tr>
      <td>Total Weight:</td>
      <td><%= total_weight %></td>
    </tr>
    <tr>
      <td>Rate/Kg:</td>
      <td><%= @branch.rate_per_kg %></td>
    </tr>
    <tr>
      <td><strong>Total Payable:</strong></td>
      <td><strong><%= total_weight * @branch.rate_per_kg %></strong></td>
    </tr>
  </table>
</div>

<hr style="color: dimgrey !important; border: solid 1px dimgrey !important;">
<br/>
<strong style="margin-left: 08%">Name:</strong>------------------
<strong style="margin-left: 30%">Signature:</strong>------------------

<hr style="color: dimgrey !important; border: solid 1px dimgrey !important;">