<div class="page-content">
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body">Widget settings form goes here</div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <ul class="breadcrumb">
      <li><p>YOU ARE HERE</p></li>
      <li><a href="#" class="active">Billing history</a></li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="grid simple ">
          <div class="grid-body no-border">
            <p>
              <strong>Branch:</strong>
              <%= @billing.branch_id %>
            </p>

            <p>
              <strong>Total:</strong>
              <%= @billing.total %>
            </p>

            <p>
              <strong>Paid:</strong>
              <%= @billing.paid %>
            </p>

            <p>
              <strong>Balance:</strong>
              <%= @billing.balance %>
            </p>

            <div class="row clo.md-12">
              <table class="table table-striped list-data-table">
                <thead>
                  <th>Date</th>
                  <th>Amount</th>
                </thead>
                <tbody>
                <% @transactions.each do |transaction| %>
                   <tr>
                     <td><%= transaction.transaction_date %></td>
                     <td><%= transaction.amount %></td>
                   </tr>
                <% end %>
                </tbody>
              </table>

            </div>
            <%= link_to 'Back', billings_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

