<div class="col-md-3 col-sm-6 spacing-bottom-sm spacing-bottom">
  <div class="tiles added-margin <%= "#{block_color}"%>">
    <div class="tiles-body">
      <div class="heading"><%= link_to title, reports_path({type: type}), class: 'href-heading_size' %></div>
      <div class="">
        <span class="animate-number"><%= title_1 %>:</span>
        <span class="animate-number"><%= count_1 %></span>
      </div>
      <div class="">
        <span class="animate-number"><%= title_2 %>:</span>
        <span class="animate-number"><%= count_2 %></span>
      </div>
    </div>
  </div>
</div>