<% @route_areas&.each do |area| %>
  <div class="well well-sm col-md-3 box_height" style="margin-right:5px;">
      <span class="area_heading"><%= area.name%></span>
      <table class="table-striped">
          <thead>
            <th>code | name</th>
            <th>visits</th>
            <th></th>
          </thead>
          <tbody>
            <% branches = area.sorted_branches %>
            <% branches = branches.sort { |a,b| b.current_month_remaining_visits  <=>  a.current_month_remaining_visits } %>
            <% branches&.each do |branch| %>
              <tr>
                  <td>
                    <%= hidden_field_tag :price, branch.rate_per_kg %>
                    <%= "#{branch.branch_code} | #{branch.branch_name}" %>
                  </td>
                  <td>
                    <%
                      visits = branch.try(:route_branches).where("route_branches.transfer_to IS NULL AND route_branches.is_deleted != 't' AND extract(month from route_branches.created_at) = #{Date.today.month}").try(:count) || 0
                      total  = branch.visits_per_month
                    %>
                    <span class="branches-visit"><%= "#{branch.current_month_remaining_visits}" %></span>
                    <span><%= "/" %></span>
                    <span class="total-visit-per-month"><%= "#{total}" %></span>
                  </td>
                  <td>
                    <% if @branches.find_by_id(branch.id).present? %>
                       <%= check_box_tag 'route[branches][]', branch.id, true, class: "check_box_input" %>
                    <% else %>
                       <%= check_box_tag 'route[branches][]', branch.id, false, class: "check_box_input" %>
                    <% end %>
                  </td>
              </tr>
            <% end %>
          </tbody>
      </table>
  </div>
<% end %>