<% @route_areas&.each do |area| %>
  <div class="well well-sm col-md-3 box_height" style="margin-right:5px;">
      <span class="area_heading"><%= area.name%></span>
      <table class="table-striped">
          <thead>
          <th>Br. name</th>
          <th></th>
          </thead>
          <tbody>
          <% branches = area.branches.where(branch_status: AppConstants::CONTRACTED) %>
          <% branches&.each do |branch| %>
            <tr>
                <td><%= "#{branch.branch_code} | #{branch.branch_name}" %></td>
                <td>
                  <%= hidden_field_tag :price, branch.rate_per_kg %>
                  <% if @branches.find_by_id(branch.id).present? %>
                     <%= check_box_tag 'route[branches][]', branch.id, true, class: "check_box_input" %>
                  <% else %>
                     <%= check_box_tag 'route[branches][]', branch.id, false, class: "check_box_input" %>
                  <% end %>
                </td>
            </tr>
          <% end %>
          </tbody>
      </table>
  </div>
<% end %>