<div class="col-md-12" , style="padding-bottom: 10px;">
  <%= form_tag('/vehicles/branches_assignment', method: :post, class: 'form-inline')  do %>
      <div class="form-group">
        <label>Select date</label>
        <%= select_tag(:day, options_for_select([['Monday', 'monday'], ['Tuesday', 'tuesday'], ['Wednesday', 'wednesday'], ['Thursday', 'thursday'], ['Friday', 'friday'], ['Saturday', 'saturday'], ['Sunday', 'sunday']] )) %>
      </div>

      <div class="form-group">
        <label>Select Vehicle</label>
        <%= select_tag :vehicle_id, options_for_select(Vehicle.all.collect {|p| [ p[:vehicle_number], p[:id] ]}), :include_blank => true  %>
      </div>

      <div  class="ScrollRef form-group">
        <label>Select branches</label>
        <%#= select_tag 'branches[]', options_for_select(Branch.all.collect {|p| [ p[:branch_name], p[:id] ] }), id: 'example-post', multiple: 'multiple' %>
        <select name='branches[]' id="example-post" multiple='multiple'>
          <% Area.all.each do |area| %>
            <% branches = area.branches %>
            <% if branches.present? %>
                <optgroup label='<%= "#{area.name}" %>'>
                  <% branches&.each do |branch| %>
                      <option value='<%= "#{branch.id}" %>'><%= branch.branch_name%></option>
                  <% end %>
                </optgroup>
            <% end %>
          <% end %>
        </select>
      </div>
      <%= submit_tag 'Go', class:'btn btn-primary disabled', style: 'margin-top:3%;', id: 'submit_button' %>


  <% end %>
</div>

<div class="col-md-12">
<table class="table" id="assignment_table">
  <thead>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </thead>
  <tbody>
    <% @vehicles.each do |vehicle| %>
        <tr>
          <td><i class="fa fa-plus-circle" style="margin-right:10px;"></i><%= vehicle.vehicle_number %></td>
          <% schedule_branches = vehicle.schedule_branches %>
          <td>
            <%= render 'day_schedule_branches', schedule_branches: schedule_branches, day: 'monday' %>
          </td>
          <td>
            <%= render 'day_schedule_branches', schedule_branches: schedule_branches, day: 'tuesday' %>
          </td>
          <td>
            <%= render 'day_schedule_branches', schedule_branches: schedule_branches, day: 'wednesday' %>
          </td>
          <td>
            <%= render 'day_schedule_branches', schedule_branches: schedule_branches, day: 'thursday' %>
          </td>
          <td>
            <%= render 'day_schedule_branches', schedule_branches: schedule_branches, day: 'friday' %>
          </td>
          <td>
            <%= render 'day_schedule_branches', schedule_branches: schedule_branches, day: 'saturday' %>
          </td>
          <td>
            <%= render 'day_schedule_branches', schedule_branches: schedule_branches, day: 'sunday' %>
          </td>
        </tr>
        <tr class="hidden"><%= render :partial => "table_row", vehicle_id: vehicle.id %></tr>
    <% end %>
  </tbody>
</table>
</div>











<script type="text/javascript">
    $(document).ready(function() {
      $('#example-post').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
        enableClickableOptGroups: true,
        maxHeight: 200,
        buttonWidth: '250px'
      });
      $("#vehicle_id").change(function(){
        var vehicle_id = $("#vehicle_id").val();
        if (vehicle_id.length > 0 )
        {
            $('#submit_button').removeClass('disabled');
        }else{
            $('#submit_button').addClass('disabled');
        }
      });
      $('#assignment_table tbody td i').live('click', function () {
          var row = $(this).closest('tr').next('tr');
          if ($(this).hasClass('fa fa-plus-circle'))
          {
              $(this).removeClass("fa fa-plus-circle");
              $(this).addClass("fa fa-minus-circle");
              var tr = row.removeClass('hidden');
          }else{
              $(this).removeClass("fa fa-minus-circle");
              $(this).addClass("fa fa-plus-circle");
              var tr = row.addClass('hidden');
          }
      });
    });
</script>