<div class="col-md-12" , style="padding-bottom: 10px;">
  <%= form_tag('/vehicles/branches_assignment', method: :post, class: 'form-inline')  do %>
      <div class="form-group">
        <label>Select date</label>
        <%= select_tag(:day, options_for_select([['Monday', 'monday'], ['Tuesday', 'tuesday'], ['Wednesday', 'wednesday'], ['Thursday', 'thursday'], ['Friday', 'friday'], ['Saturday', 'saturday'], ['Sunday', 'sunday']] )) %>
        <%#= text_field_tag :start_date, Date.today.strftime('%d/%m/%Y'), class: 'datepicker', placeholder: 'From'%>
      </div>

      <div class="form-group">
        <label>Select Vehicle</label>
        <%= select_tag :vehicle_id, options_for_select(Vehicle.all.collect {|p| [ p[:vehicle_number], p[:id] ]}), :include_blank => true  %>
      </div>

      <div  class="ScrollRef form-group">
        <label>Select branches</label>
        <%= select_tag 'branches[]', options_for_select(Branch.all.collect {|p| [ p[:branch_name], p[:id] ] }), id: 'example-post', multiple: 'multiple' %>
      </div>
      <%= submit_tag 'Go', class:'btn btn-primary disabled', style: 'margin-top:3%;', id: 'submit_button' %>


  <% end %>
</div>
<div id='selected_clients' class="emailslistspan" style="width: 100%; margin: 10px 0 0 0; overflow-y: auto;"></div>

<div class="col-md-12">
<table class="table table-striped">
  <thead>

  </thead>
  <tbody>

  </tbody>
</table>
</div>









<style type="text/css">
  .ScrollRef .multiselect-container{
    max-height: 350px;
    overflow-y: auto;
  }

</style>

<script type="text/javascript">
    $(document).ready(function() {
      $('#example-post').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            onChange: function(option, checked, select) {
                var client = $(option).val();
                if ( checked ){
                    var html = "<span style='margin-right: 5px;' class='badge' id="+ client + ">" + $(option).text() + "</span>";
                    $('#selected_clients').append(html);
                    $('#sent_email_button').attr('disabled', false);
                }else{
                    $('#'+  client + '').remove();
                    if( $('#selected_clients').is(':empty') ){
                        $('#sent_email_button').attr('disabled', true);
                    }
                }
            },
            onSelectAll: function() {
                $('#selected_clients').html('');
                $("#example-post option").each(function()
                {
                    var client = $(this).val();
                    var html   = "<span class='badge' id="+ client + ">" + $(this).text() + "</span>";
                    $('#selected_clients').append(html);
                });
                $('#sent_email_button').attr('disabled', false);
            },
            onDeselectAll: function() {
                $('#selected_clients').html('');
                $('#sent_email_button').attr('disabled', true);
            }
    });
      $("#vehicle_id").change(function(){
          var vehicle_id = $("#vehicle_id").val();
          if (vehicle_id.length > 0 )
          {
              $('#submit_button').removeClass('disabled');
          }else{
              $('#submit_button').addClass('disabled');
          }
      });
    });
</script>