<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Vehicles</a></li>
  <%= link_to 'New Vehicle', new_vehicle_path, class:'btn btn-mini btn-primary pull-right' %>
</ul>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="grid-body no-border">
        <table class="table table-striped list-data-table">
          <thead>
          <tr>
            <th>Vehicle type</th>
            <th>Vehicle number</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @vehicles.each do |vehicle| %>
              <tr>
                <td><%= vehicle.vehicle_type %></td>
                <td><%= vehicle.vehicle_number %></td>
                <td>
                  <%= link_to 'edit', edit_vehicle_path(vehicle), class: 'btn btn-mini btn-primary' %>
                  <% if vehicle.is_deleted %>
                      <%= link_to 'undo', vehicle, method: :delete, class: 'btn btn-mini btn-warning', data: { confirm: 'Are you sure?' } %>
                  <% else %>
                      <%= link_to 'delete', vehicle, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>

