<div class="page-content">
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body">Widget settings form goes here</div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <ul class="breadcrumb">
      <li><p>YOU ARE HERE</p></li>
      <li><a href="#" class="active">Vehicles</a></li>
      <li><%= link_to 'New Vehicle', new_vehicle_path, class:'btn btn-mini btn-primary' %></li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="grid simple ">
          <div class="grid-body no-border">
            <table class="table table-striped list-data-table">
              <thead>
              <tr>
                <th>Vehicle type</th>
                <th>Vehicle number</th>
                <th>Actions</th>
              </tr>
              </thead>

              <tbody>
              <% @vehicles.each do |vehicle| %>
                  <tr>
                    <td><%= vehicle.vehicle_type %></td>
                    <td><%= vehicle.vehicle_number %></td>
                    <td>
                      <%= link_to '', edit_vehicle_path(vehicle), class: 'fa fa-edit' %>
                      <%= link_to '', vehicle, method: :delete, class: 'fa fa-trash', data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

