<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Cities</a></li>
  <%= link_to 'New city', new_city_path, class:'btn btn-mini btn-primary pull-right' %>
</ul>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="grid-body no-border">
        <table class="table table-striped list-data-table">
          <thead>
          <tr>
            <th>City</th>
            <th>State</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @cities.each do |city| %>
              <tr>
                <td><%= city.name %></td>
                <td><%= city.state.name %></td>
                <td>
                  <%= link_to 'edit', edit_city_path(city), class: 'btn btn-mini btn-primary' %>
                  <% if city.is_deleted %>
                      <%= link_to 'undo', city, method: :delete, class: 'btn btn-mini btn-warning', data: { confirm: 'Are you sure?' } %>
                  <% else %>
                      <%= link_to 'delete', city, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
