<% if @branches.present? %>
    <%= link_to 'download pdf', 'javascript:void(0)', class:'pull-right btn btn-mini btn-success', id:'pdf-lead' %>
<% end %>

<% hidden_field_tag :from_date, @from_date %>
<% hidden_field_tag :to_date, @from_date %>
<% hidden_field_tag :report_type, @type %>



<% if @branches.present? %>
    <table class="table table-striped list-data-table">
      <thead>
      <tr>
        <th>
          <%#= select_tag :area_wise, options_for_select(@areas.collect {|p| [ p[:name], p[:id] ] }), {include_blank: 'filter area', } %>
          <%#= check_box_tag :area_report, nil, true %>
          <%#= label_tag :area_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
        <th>
          <%= select_tag :sale_rep_wise, options_for_select(@reps.collect {|p| [ p[:name], p[:id] ] }), {include_blank: 'filter reps'} %>
          <%= check_box_tag :sale_rep_report, nil, true %>
          <%#= label_tag :sale_rep_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
        <th>
          <%= check_box_tag :branch_report, nil, true %>
          <%#= label_tag :branch_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
        <th>
          <%= check_box_tag :code_report, nil, true %>
          <%#= label_tag :code_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
        <th>
          <%= check_box_tag :contact_name_report, nil, true %>
          <%#= label_tag :contact_name_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
        <th>
          <%= check_box_tag :contact_number_report, nil, true %>
          <%#= label_tag :contact_number_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
        <th>
          <%= check_box_tag :oil_used_report, nil, true %>
          <%#= label_tag :oil_used_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
        <th>
          <%= check_box_tag :total_collection, nil, true %>
          <%#= label_tag :oil_used_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
        <th>
          <%= check_box_tag :rate_per_kg_report, nil, true %>
          <%#= label_tag :rate_per_kg_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
        <th>
          <%= check_box_tag :address_report, nil, true %>
          <%#= label_tag :address_report, 'report?', style: 'display: inline-block;font-size: 10px;' %>
        </th>
      </tr>
      <tr>
        <th>Area</th>
        <th>Sale rep</th>
        <th>Branch</th>
        <th>Code</th>
        <th>Cont.name</th>
        <th>Cont#</th>
        <th>Oil used</th>
        <th>Collection</th>
        <th>Rate/Kg</th>
        <th>Address</th>
      </tr>
      </thead>
      <tbody>
      <% @branches&.each do |branch| %>
          <tr>
            <td><%= branch.area.name %></td>
            <td><%= branch.try(:representator).try(:name) || 'N/A' %></td>
            <td><%= branch.branch_name  %></td>
            <td><%= "#{branch.try(:company).try(:company_code) || nil}/#{branch.branch_code}" %></td>
            <td><%= branch.contact_name %></td>
            <td><%= branch.contact_phone %></td>
            <td><%= branch.monthly_oil_used %></td>
            <td><%= branch.total_collection %></td>
            <td><%= branch.rate_per_kg %></td>
            <td><%= branch.address %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h3>No record found.</h3>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('.list-data-table').DataTable({
            "pageLength": 50
        });

        $('#pdf-lead').click(function(){
            var area_wise       = $('#area_wise').val();
            var sale_rep_wise   = $('#sale_rep_wise').val();

            var area_report     = $('#area_report').is(":checked");
            var sale_rep_report = $('#sale_rep_report').is(":checked");
            var branch_report   = $('#branch_report').is(":checked");
            var code_report     = $('#code_report').is(":checked");
            var contact_name_report = $('#contact_name_report').is(":checked");
            var contact_number_report = $('#contact_number_report').is(":checked");
            var oil_used_report       = $('#oil_used_report').is(":checked");
            var rate_per_kg_report    = $('#rate_per_kg_report').is(":checked");
            var address_report        = $('#address_report').is(":checked");
            var total_collection      = $('#total_collection').is(":checked");

            var from_date       = $('#from_date').val();
            var to_date         = $('#to_date').val();
            var report_type     = $('#report_type').val();

            var origin = window.location.origin
            window.location.href = origin + '/reports/generate_report.pdf?from_date='+ from_date +
                '&to_date='+ to_date +
                '&report_type='+ report_type +
                '&area_wise=' + area_wise +
                '&area_report=' + area_report +
                '&sale_rep_wise=' + sale_rep_wise +
                '&sale_rep_report=' + sale_rep_report +
                '&branch_report=' + branch_report +
                '&code_report=' + code_report +
                '&contact_name_report=' + contact_name_report +
                '&contact_number_report=' + contact_number_report +
                '&oil_used_report=' + oil_used_report +
                '&rate_per_kg_report=' + rate_per_kg_report +
                '&address_report=' + address_report +
                '&total_collection=' + total_collection;
        });
    });
</script>


