<br/>
<div class="panel panel-primary">
  <div class="panel-heading">
    Generate Report
  </div>
  <div class="panel-body">
    <%= form_tag('/reports/generate_report', multipart: true, method: :post, class: 'form-inline', remote: true) do |f|  %>
        <div class="form-group">
          <% if @current_user_role == AppConstants::PFA
              report_array = AppConstants::PFA_REPORT_VISIBLE
            else
              report_array = AppConstants::REPORTS
            end
          %>
          Select Type: <%= select_tag :report_type, options_for_select(report_array.collect {|p| [ p[:name], p[:id] ] }, @type), {include_blank: 'Select report', class: 'form-control'} %>
        </div>

        <div class="form-group hidden" id="contract_type_div">
          Select Truck:<%= select_tag :contract_type, options_for_select(AppConstants::CONTRACT_STATUS), class: 'form-control' %>
        </div>

        <div class="form-group" id="from_date_div">
          From date: <%= text_field_tag :from_date, nil, class: 'datepicker form-control', placeholder: 'optional' %>
        </div>

        <div class="form-group"  id="to_date_div">
          To date:<%= text_field_tag :to_date, nil, class: 'datepicker form-control', placeholder: 'optional' %>
        </div>

        <div class="form-group hidden" id="month_div">
          Select Month:<%= text_field_tag :month_wise, Date.today.strftime("%m/%Y"), class: 'datepicker1 form-control', placeholder: 'optional' %>
        </div>

        <div class="form-group hidden" id="contract_type_div">
          Select Type:<%= select_tag :contract_type, options_for_select(AppConstants::CONTRACT_STATUS), class: 'form-control' %>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="generate_report_button">Generate</button>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $('.datepicker1').datepicker({
          format: "mm/yyyy",
          viewMode: "months",
          minViewMode: "months",
          autoclose: true,
          todayHighlight: true,
          toggleActive: true
      });
  })
</script>