<% if @branches.present? %>
    <%= link_to 'Export excel', 'javascript:void(0)', class: 'pull-right btn btn-mini btn-primary', id:'excel_month_wise_collection', style:'margin-left: 2px;' %>
    <%= link_to 'download pdf', 'javascript:void(0)', class:'pull-right btn btn-mini btn-success', id:'pdf_month_wise_collection' %>
<% end %>

<% hidden_field_tag :from_date, @from_date %>
<% hidden_field_tag :to_date,   @to_date %>
<% hidden_field_tag :report_type, @type %>
<% hidden_field_tag :month_wise, @month_year %>

<% @areas = Area.where(id: @branches.pluck(:area_id))
   @reps  = User.where(id: @branches.pluck(:representative))
%>

<% if @branches.present? %>
    <select name='lead_report_columns[]' id="lead_report_columns" multiple='multiple'>
      <% AppConstants::MONTH_WISE_COLLECCTION_REPORT_HEADER.each do |column| %>
          <option value='<%= "#{column[:id]}" %>' selected='selected'><%= column[:name] %></option>
      <% end %>
    </select>
    <table class="table table-striped motnh_wise_collection_report_table">
      <thead>
      <!--<tr>-->
        <!--<th>-->
          <!--<%#= select_tag :area_wise, options_for_select(@areas.collect {|p| [ p[:name], p[:id] ] }), {include_blank: 'filter area', } %>-->
        <!--</th>-->
        <!--<th>-->
          <!--<%#= select_tag :sale_rep_wise, options_for_select(@reps.collect {|p| [ p[:name], p[:id] ] }), {include_blank: 'filter reps'} %>-->
        <!--</th>-->
      <!--</tr>-->
      <tr>
        <th>Area</th>
        <th>Sale rep</th>
        <th>Branch</th>
        <th>Code (C/B)</th>
        <th>Cont.name</th>
        <th>Cont#</th>
        <th>Collection</th>
        <th>Rate/Kg</th>
        <th>Address</th>
        <th>Add Note</th>
      </tr>
      </thead>
      <tbody>
      <% @branches&.each do |branch| %>
          <tr>
            <td><%= branch.area.name %></td>
            <td><%= branch.try(:representator).try(:name) || 'N/A' %></td>
            <td><%= branch.branch_name  %></td>
            <td><%= "#{branch.try(:company).try(:company_code) || nil}/#{branch.branch_code}" %></td>
            <td><%= branch.contact_name %></td>
            <td><%= branch.contact_phone %></td>
            <td><%= Branch.total_month_collection(branch, @month_year) %></td>
            <td><%= branch.rate_per_kg %></td>
            <td><%= branch.address %></td>
            <td><%= link_to 'Notes', branch_notes_path(branch), class: 'btn btn-mini btn-primary' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h3>No record found.</h3>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('.motnh_wise_collection_report_table').DataTable({
            "pageLength": 50,
            "aaSorting": [[ 0, "asc" ]]
        });

        $('#lead_report_columns').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableClickableOptGroups: true,
            maxHeight: 200,
            buttonWidth: '250px'
        });

        $('#pdf_month_wise_collection').click(function(){
            var area_wise       = $('#area_wise').val();
            var sale_rep_wise   = $('#sale_rep_wise').val();
            var from_date       = $('#from_date').val();
            var to_date         = $('#to_date').val();
            var report_type     = $('#report_type').val();
            var month_wise      = $('#month_wise').val();

            var origin = window.location.origin
            window.location.href = origin + '/reports/generate_report.pdf?from_date='+ from_date +
                '&to_date='+ to_date +
                '&report_type='+ report_type +
                '&area_wise=' + area_wise +
                '&sale_rep_wise=' + sale_rep_wise +
                '&month_wise=' + month_wise +
                '&columns=' +  $('#lead_report_columns').val();
        });
        $('#excel_month_wise_collection').click(function(){
            var area_wise       = $('#area_wise').val();
            var sale_rep_wise   = $('#sale_rep_wise').val();
            var from_date       = $('#from_date').val();
            var to_date         = $('#to_date').val();
            var report_type     = $('#report_type').val();
            var month_wise      = $('#month_wise').val();

            var origin = window.location.origin
            window.location.href = origin + '/reports/generate_report.xls?from_date='+ from_date +
                '&to_date='+ to_date +
                '&report_type='+ report_type +
                '&area_wise=' + area_wise +
                '&sale_rep_wise=' + sale_rep_wise +
                '&month_wise=' + month_wise +
                '&columns=' +  $('#lead_report_columns').val();
        });
    });
</script>


